:host {
  display: block;
}
dialog { /* Or your specific dialog class/element */
  border: none; /* Or border: 0; */
  outline: none;
}

dialog[open] {
  opacity: 100%;
  transition: opacity .3s ease-in-out;
  @starting-style {
    opacity: 0%;
  }
}

dialog::backdrop {
  background: rgba(0, 0, 0, .50);
}

dialog[open] {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

dialog.closing {
  opacity: 0;
  &::backdrop {
    opacity: 0;
  }
}

